
  .ant-input:placeholder-shown{


  }
  .ant-form-item-label > label{
    font-weight: bold;

  }
  .first_name_input{
    border-color: #0d9924;
    width: auto;
    right :45px
  }
  .ant-input{

    border-radius: 45px;

  }
  .ant-form-item-control-input {

  }

  .last_name{
    width: auto;
  }
  .update_details{
    background-color: red;
  }
  .ant-form-item-label{


    overflow: hidden;
    white-space: nowrap;

    vertical-align: middle;

  }
