@media all {
  body{
    overflow-y: scroll;
  }
  .makeStyles-container-45{
    border-radius: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .makeStyles-card-46{
    border-radius: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .makeStyles-image-48{
    border-radius: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  }
  .reg-btn{
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    margin-bottom: 30px;
    border-radius:15px;
    background-color: #0cf0f0ff;
    margin-right: 20px;
  }
  .login-btn{
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    border-radius:15px;
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .prof-btn{
    border-radius:15px;
  }
}
.homeimg{
  margin-left: 50px;
  margin-right: 55px;
  margin-top:20px ;
}
.hellouser {
  position: fixed;
  right: 50px;
  top: 5px;
}
.1h{
    size: 95px;
    font-weight: 600;
  }
.2h{
    size: 95px;
    font-weight: 400;
  }