@media all{
  .MuiToolbar-root{
    background-color: #3d4661;
    overflow-x:auto;
    overflow-y: auto;
    position:static;
    align-items: center;
    justify-content: center;

  }
  .misheli-img{

    position: relative;
    right: 10px;
    margin-right: 120px !important;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }
  .exit-btn{
    
  }
}

.MuiPaper-root {
  z-index: 800 !important;
}