@media all{
  .MuiToolbar-root{
  background-color: #191919;
    overflow-x:auto;
    overflow-y: auto;
    position:static;
    align-items: center;
    justify-content: center;

  }
  .misheli-img{

    position: relative;
    right: 10px;
    margin-right: 120px !important;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
  }
}