<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">
        <!-- <script defer src="../layout/scripts/login.js" ></script> -->

    </head>
    <body>

        <div>
        
            <form id = "form" class="sign-up-form" action="/" method="post">
                
                <img src="{{url_for('static', filename='images/Icon.png')}}">

                <h1> כניסה למערכת </h1>
                <input id = "UserName" name='UserName' type = "UserName" class="input-box" placeholder="הזן את שם המשתמש שלך" required>
                <input id = "Password" name='Password' type = "Password" class="input-box" placeholder="הזן את הסיסמא שלך " required>

                <div id = "error"></div>
                <button id = "login" type="submit" class="signup-btn">  התחברות  </button>

                <p> אין לך עדיין חשבון ?<a href="sign-up"> הירשם כאן </a>

            </form>

        </div>

        {{ text }}
    </body>
</html>