<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>

    <ul>
        <li><a href="/">יציאה</a></li>
        <li><a href="notifications">התראות</a></li>
        <li><a class="active" href="profile">פרופיל</a></li>
        <li><a href="system">ראשי</a></li>
    </ul>

    <div class="table_container">

        <h2 class="Header"> כרטיס אישי </h2>
        <p>שם פרטי: רוני רון</p>
        <p>תפקיד: מתנדב</p>
        <p>כתובת: רוננים  3 , רעננה</p>

    </div>



</body>

</html>