<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>

  <ul>
    <li><a href="/">יציאה</a></li>
    <li><a href="notifications">התראות</a></li>
    <li><a href="profile">פרופיל</a></li>
    <li><a class="active" href="system">ראשי</a></li>
  </ul>

  <!-- content starts here -->
  <div class="container2">
    <h1 class="Header">פתיחת פנייה</h1>
    <form method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">

      <p>
        <input type="text" name="customer_name" required>
      <label>:שם
      
      </label> 
      </p>
      
      <p>
      <label>
      <input type="tel" name="phone_number">
      :טלפון
      </label>
      </p>
      
      <p>
      <label>
      <input type="email" name="email_address">
      :                       מייל      
      </label>
    
      
      <p>
      <label>
        :תוכן הפנייה
      <textarea name="comments" maxlength="500"></textarea>
   
      </label>
      </p>
      
      
      
      </form>

      <p><button class = "sendb">שלח</button></p>

  </div>
  <!-- contend ends here -->
  <script src="{{url_for('static', filename='js/script.js')}}"></script>


</body>

</html>