.ant-form {
  width: 30% !important;
}

.ant-modal-body {
  height: 60vh;
  overflow-y: scroll;
}

input {
  text-overflow: ellipsis;
}
body{
  overflow-y: scroll !important;
}
element.style {
}
.ant-btn-rtl {
  direction: rtl;
}
.ant-btn-round {

  margin-right: 10px;
}
.ant-input{
  position: center;
}
.takanon{
  margin-bottom: 5px;
}